header {
  display: grid;
  grid-template-columns: 5% 95% ; /* Перша колонка для іконок менша, друга для тексту більша */
  align-items: center; /* Вирівнювання по вертикалі */
  height: 100px; /* Висота header */
  background-color: white;
  padding: 10px;
}

.social-icons {
  display: flex;
  gap: 20px; /* Відступ між іконками */
  justify-content: start; /* Центрування іконок по горизонталі */
  align-items: center; /* Центрування по вертикалі */
}

.social-icons img {
  width: clamp(30px, 5vw, 30px); /* Пропорційне зменшення іконок від 30px до 50px */
  height: auto;
}

.name {
  display: flex;
  white-space: nowrap; /* Запобігання переносу тексту */
  overflow: hidden; /* Текст не виходить за межі контейнера */
  justify-content: center;
  align-items: center;
}

.name h1 {
  font-size: clamp(16px, 20vw, 70px); /* Адаптивний розмір тексту: мінімум 16px, максимум 36px */
  margin: 0;
  color: rgb(255, 1, 1);
  font-family: Times New Roman, Times, serif;
  font-weight: 500; 
}

/* Адаптивність для середніх екранів */
@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr 2fr; /* Більш рівномірне співвідношення колонок */
  }

  .social-icons img {
    width: clamp(45px, 8vw, 60px); /* Менший розмір іконок на середніх екранах */
  } 
  .social-icons {
    display: flex;
    gap: 5px;
    justify-content: start;
  }

  .name h1 {
    font-size: clamp(24px, 10vw, 40px); /* Менший розмір тексту для середніх екранів */
  }
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 480px) {
  header {
    grid-template-columns: 15% 85%; /* Одна колонка на маленьких екранах */
    text-align: center; /* Центрування тексту для мобільних пристроїв */
  }

  .social-icons {
    display: flex;
    gap: 5px;
    justify-content: start;
  }

  .social-icons img {
    width: clamp(20px, 3vw, 30px); /* Пропорційне зменшення іконок для мобільних пристроїв */
  }

  .name h1 {
    font-size: clamp(24px, 18vw, 45px); /* Ще менший розмір тексту для мобільних пристроїв */
  }
}
